<div>
    <div>
        <h2 class="text-center mb-4">Configuración de la Cuenta</h2>
    </div>
    <div>
        <h3>Activar las validaciones por Stock</h3>
        <p>Al activar esta opción se realizarán comprobaciones para asegurar que 
            el stock disponible es suficiente antes de procesar una venta.
        </p>
        <app-button type="action" (click)="toggleStockValidation()">
            <span>Activar Validaciones por Stock</span>
        </app-button>
        <h1>{{stockValidation}}</h1>
    </div>
</div>

